<html>
<head>
<title>Choose your stream!</title>
</head>
<body>

{{ if .Playing }}
<div>Current playing stream: {{.Current}}</div>
<div>Check the awesome ascii version on your command line via <span>telnet {{.Host}} 8043</span>!</div>
{{ end }}

<form action="/" method="post">
    New source stream url: <input type="text" name="url">
    <input type="submit">
</form>
</body>
</html>
